/* --------- color del fondo  --------- */
body {
  background: #052D51;
  background-image: url('img/Fondo/Fondo2000x6000.png');
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
}

/*--------- contenedor del boton  ---------*/
.contenedorBoton {
  background: #052D51;
  height: 10vw;
  text-align: center;
  border: none;
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  z-index: 10;
}

/*--------- boton de inicio  ---------*/
.contenedorBoton .botonInicioHP {
  width: 5vw;
  height: 5vw;
  font-size: 2.5vw;
  line-height: 2.5vw;
  background-color: #052D51;
  position: relative;
  border-radius: 12.5vw;
  padding: 0.65vw;
  border: none;
  cursor: pointer;
}

/*--------- Color del sensor del boton  ---------*/
.contenedorBoton .botonInicioHP:hover {
  background: rgb(255, 255, 255);
}

/*--------- Imagen del boton de inicio  ---------*/
.contenedorBoton .botonInicioHP img {
  width: 4vw;
  max-width: 4vw;
  margin-bottom: 1.5vw;
  position: relative;
  top: 0.5vw;
}

/*--------- Botones de cabecera  ---------*/
.contenedorBoton .botonInicioLibros,
.contenedorBoton .botonInicioCasas,
.contenedorBoton .botonInicioPersonajes,
.contenedorBoton .botonInicioHechizos,
.contenedorBoton .botonInicioPociones {
  font-family: 'Harry Potter', sans-serif;
  border: none;
  font-size: 1.5vw;
  height: 3vw;
  width: 13vw;
  line-height: 4vw;
  /*interlineado*/
  color: rgb(175, 167, 88);
  background-color: #052D51;
  border-radius: 1vw;
  position: relative;
  top: -2vw;
  cursor: pointer;
  /*primero: superior, segundo: derecha, tercero: inferior, cuarto: izquierdo*/
  margin: 0vw 6vw 0vw 6vw;
}

/*--------- Fondo de los botones  ---------*/
.contenedorBoton .botonInicioLibros:hover,
.contenedorBoton .botonInicioCasas:hover,
.contenedorBoton .botonInicioPersonajes:hover,
.contenedorBoton .botonInicioHechizos:hover,
.contenedorBoton .botonInicioPociones:hover {
  background: rgb(255, 255, 255);
}

/*--------- Flexbox del cotenedor de los botones  ---------*/
.contenedorBoton .flexbox {
  display: flex;
  justify-content: center;
  margin-top: 0vw;
}

/*--------- Contenedor de filtros ---------*/
/* Estilos para los select */
select {
  font-family: 'Harry Potter', sans-serif;
  color: rgb(175, 167, 88);
  background-color: #ffffff41;
  border: none;
  outline: none;
  border-radius: 1vw;
  font-size: 2vw; 
  cursor: pointer;
  width: 200px; /* Tamaño fijo para los select */
  padding: 10px; /* Añadimos un poco de padding para que los textos no queden pegados a los bordes */
  margin: 0 10px; /* Separación entre los select */
  text-align: center; /* Centramos el texto horizontalmente */
  transition: background-color 0.3s ease-in-out; /* Efecto de transición al pasar el cursor */
}

/* Estilos para cuando se pasa el cursor */
select:hover {
  background-color: #fff; /* Cambio de color de fondo */
  color: #333; /* Cambio de color de texto */
}

/* Estilos para los options */
select option {
  font-family: 'Georgia', serif; /* Tipo de letra con detalles */
  font-size: 1.2rem; /* Tamaño de letra */
}

/* Contenedor principal */
.contenedorDesplegables {
  display: flex;
  justify-content: center; /* Centramos horizontalmente los elementos */
  margin: 10vw 10vw 0vw 15vw;
  border-radius: 10px;
  padding: 10px;
}

/*--------- Abecedario de los filtros ---------*/
.alphabet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.alphabet ul {
  list-style: none;
  margin: 0vw 0vw 0vw 15vw;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.alphabet li {
  margin: 5px;
  flex-basis: calc((100% / 6) - 10px);
  max-width: calc((100% / 6) - 10px);
}

.letter {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.letter:hover {
  background-color: #eee;
}

.tarjetas {
  background-color: lightgray;
  padding: 10px;
  margin-bottom: 10px;
}

/*--------- Media para moviles ---------*/
@media (max-width: 768px) {
  select {
    font-size: 3.5vw;
    width: 100%;
    margin: 10px 0;
  }
  .contenedorDesplegables {
    flex-direction: column;
    margin: -30vw 0vw 0vw 15vw;
  }

  .alphabet li {
    flex-basis: calc((100% / 2) - 10px);
    max-width: calc((100% / 2) - 10px);
  }

  /*--------- Imagen del boton de inicio  ---------*/
  .contenedorBoton .botonInicioHP img {
    width: 13vw;
    max-width: 13vw;
    margin-bottom: 1.5vw;
    top: 0.8vw;
  }

  .contenedorBoton .botonInicioHP {
    width: 14vw;
    height: 14vw;
    top: 5vw;
  }

  .navbar-close {
    display: none;
  }

  .navbar-open {
    display: flex;
  }

  .contenedorBoton {
    height: 25vw;
    width: 100%;
  }

  .contenedorBoton .botonInicioLibros,
  .contenedorBoton .botonInicioCasas,
  .contenedorBoton .botonInicioPersonajes,
  .contenedorBoton .botonInicioHechizos,
  .contenedorBoton .botonInicioPociones {
    font-size: 5vw;
    height: 12vw;
    width: 40vw;
    background-color: #052D51;
    border-radius: 3vw;
    /*primero: superior, segundo: derecha, tercero: inferior, cuarto: izquierdo*/
    margin: 3vw 0vw 0vw 10vw;
    display: flex;
    flex-direction: column;
    /* Establece la dirección del flujo como columna */
    line-height: 15vw;
    align-items: center;
    /* Centra los elementos horizontalmente */
  }

  /* Estilos para el menú hamburguesa */
  .botonHamburguesa {
    display: block;
    margin: 5px 10px;
    border: 1px;
    background-color: #052D51;
    cursor: pointer;
  }

  /* Estilos para los tres iconos del menú hamburguesa */
  .botonHamburguesa span {
    display: flex;
    width: 25px;
    height: 2px;
    margin: 5px;
    background-color: #ffffff;
  }

  .flexbox {
    display: block;
    justify-content: center;
    margin-top: 0VW;
    flex-direction: column;
  }
}

/*--------- Media para pantallas grandes ---------*/
@media (max-width: 1920px) {
    .alphabet li {
      flex-basis: calc((100% / 3) - 10px);
      max-width: calc((100% / 3) - 10px);
    }
}