/*--------- color del fondo  ---------*/
body {
    background: #052D51;
    background-image: url('img/Fondo/Fondo2000x6000.png');
    background-size: cover;
}

/*--------- contenedor del boton  ---------*/
.contenedorBoton {
    background: #052D51;
    height: 10vw;
    text-align: center;
    border: none;
    position: fixed;
    top: 0;
    width: 100vw;
    left: 0;
    z-index: 10;
}

/* .contenedorBoton {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px; /* Añade un margen de 20 píxeles para separar el contenido del borde de la ventana
  }
*/
/*--------- boton de inicio  ---------*/
.contenedorBoton .botonInicioHP {
    width: 5vw;
    height: 5vw;
    font-size: 2.5vw;
    line-height: 2.5vw;
    background-color: #052D51;
    position: relative;
    border-radius: 12.5vw;
    padding: 0.65vw;
    border: none;
    cursor: pointer;
}

/*--------- Color del sensor del boton  ---------*/
.contenedorBoton .botonInicioHP:hover {
    background: rgb(255, 255, 255);
}

/*--------- Imagen del boton de inicio  ---------*/
.contenedorBoton .botonInicioHP img {
    width: 4vw;
    max-width: 4vw;
    margin-bottom: 1.5vw;
    position: relative;
    top: 0.3vw;
}

/*--------- Botones de cabecera  ---------*/
.contenedorBoton .botonInicioLibros,
.contenedorBoton .botonInicioCasas,
.contenedorBoton .botonInicioPersonajes,
.contenedorBoton .botonInicioHechizos,
.contenedorBoton .botonInicioPociones {
    font-family: 'Harry Potter', sans-serif;
    border: none;
    font-size: 1.5vw;
    height: 3vw;
    width: 13vw;
    /* padding: 0vw; */
    line-height: 4vw;
    color: rgb(175, 167, 88);
    background-color: #052D51;
    border-radius: 1vw;
    /* position: relative; */
    top: -2vw;
    cursor: pointer;
    /*primero: superior, segundo: derecha, tercero: inferior, cuarto: izquierdo*/
    margin: 0vw 6vw 0vw 6vw;
}


/*--------- fondo de los botones  ---------*/
.contenedorBoton .botonInicioLibros:hover,
.contenedorBoton .botonInicioCasas:hover,
.contenedorBoton .botonInicioPersonajes:hover,
.contenedorBoton .botonInicioHechizos:hover,
.contenedorBoton .botonInicioPociones:hover {
    background: rgb(255, 255, 255);
}



/*--------- flexbox del cotenedor de los botones  ---------*/
.contenedorBoton .flexbox {
    display: flex;
    justify-content: center;
    /* margin-top: 20px; */
}

/*--------- Fondo de la pag de bienvenida ---------*/
.fondoInicial {
    /* margin: 105px; */

    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

/*--------- Texto de la pag de bienvenida ---------*/
.fondoInicial h1 {
    background-color: rgba(5, 46, 81, 0.67);
    color: white;
    margin-top: 15vw;
    margin-right: 5vw;
    height: 33vw;
    font-size: 2vw;
    text-align: justify;

}

/* --------- Ancho del texto de la pag de bienvenida ---------
.bienvenida {
    width: 500vw;
} */
/*--------- Margen y ancho del la pag bienvenida (Logo) ---------*/
.fondoInicial img {
    margin-top: 8vw;
    width: 50vw;
}
/*--------- Pagina de los libros ---------*/
.libros {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Para los libros individuales */
.libroPortada, .librosInfo {
  flex: -1 0 22vw;
  margin: 0vw;
  text-align: center;
}
.info-libro {
  position: absolute;
  left: 0;
  top: 100%;
  transform: translateY(-100%);
  background:  rgba(5, 46, 81, 0.67);
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  z-index: 1;
  width: 12vw;
  height: 18vw;
  margin: 0 4vw;  
   /* Para asegurarse de que el texto esté por encima de la imagen */
}

#libros div {
  position: relative;
}

#libros img{
  width: 13vw;
  height: 20vw;
  margin: 0 4vw;  
}

#libros div:hover img {
  transform: rotateY(90deg);
  transition: transform 0.8s ease-in-out;
}

#libros div:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 13vw;
  height: 20vw;
  margin: 0 4vw;
  background-color: rgba(5, 46, 81, 0.67);

  
  /* transform: rotateY(180deg);
  transition: transform 1s ease-in-out; */
}