/* Color del fondo */
body {
  background: #052D51;
  background-image: url('img/Fondo/Fondo2000x6000.png');
  background-size: cover;
}

/* Contenedor del botón */
.contenedorBoton {
  background: #052D51;
  height: 10vw;
  text-align: center;
  border: none;
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  z-index: 10;
}

/* Botón de inicio */
.contenedorBoton .botonInicioHP {
  width: 5vw;
  height: 5vw;
  font-size: 2.5vw;
  line-height: 2.5vw;
  background-color: #052D51;
  position: relative;
  border-radius: 12.5vw;
  padding: 0.65vw;
  border: none;
  cursor: pointer;
}

/* Color del sensor del botón */
.contenedorBoton .botonInicioHP:hover {
  background: rgb(255, 255, 255);
}

/* Imagen del botón de inicio */
.contenedorBoton .botonInicioHP img {
  width: 4vw;
  max-width: 4vw;
  margin-bottom: 1.5vw;
  position: relative;
  top: 0.3vw;
}

/* Botones de cabecera */
.contenedorBoton .botonInicioLibros,
.contenedorBoton .botonInicioCasas,
.contenedorBoton .botonInicioPersonajes,
.contenedorBoton .botonInicioHechizos,
.contenedorBoton .botonInicioPociones {
  font-family: 'Harry Potter', sans-serif;
  border: none;
  font-size: 1.5vw;
  height: 3vw;
  width: 13vw;
  line-height: 4vw;
  color: rgb(175, 167, 88);
  background-color: #052D51;
  border-radius: 1vw;
  top: -2vw;
  cursor: pointer;
  margin: 0vw 6vw 0vw 6vw;
}

/* Fondo de los botones */
.contenedorBoton .botonInicioLibros:hover,
.contenedorBoton .botonInicioCasas:hover,
.contenedorBoton .botonInicioPersonajes:hover,
.contenedorBoton .botonInicioHechizos:hover,
.contenedorBoton .botonInicioPociones:hover {
  background: rgb(255, 255, 255);
}

/* Flexbox del contenedor de los botones */
.contenedorBoton .flexbox {
  display: flex;
  justify-content: center;
}

/* Fondo de la página de bienvenida */
.fondoInicial {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

/* Texto de la página de bienvenida */
.fondoInicial h1 {
  background-color: rgba(5, 46, 81, 0.67);
  color: white;
  margin-top: 15vw;
  margin-right: 5vw;
  height: 33vw;
  font-size: 2vw;
  text-align: justify;
}

/* Ancho del texto de la página de bienvenida */
.bienvenida {
  width: 500vw;
}

/* Margen y ancho de la página de bienvenida (Logo) */
.fondoInicial img {
  margin-top: 8vw;
  width: 50vw;
}

/* Página de los libros */
.libros {
  color: white;
  display: flex;
  flex-wrap: wrap; /* Añadida propiedad flex-wrap: wrap para envolver en varias filas */
  justify-content: center;
  align-items: center;
}

/* Para los libros individuales */
.LibroPortada, .librosInfo {
  flex: 0 0 22vw;
  margin: 0 2vw;
  text-align: center;
}

.info-libro {
  position: absolute;
  left: 0;
  top: 100%;
  transform: translateY(-100%);
  font-family: Arial, sans-serif;
  font-size: 0.8vw;
  line-height: 1.2;
  z-index: 1;
  width: 13vw;
  height: 20vw;
  margin: 0 2vw;
}

#libros div {
  position: relative;
}

#libros img {
  width: 13vw;
  height: 20vw;
  margin: 0 4vw;
  flex: 0 0 13vw; /* Añadida propiedad flex: 0 0 13vw para ajustar el ancho */
}
#libros div:hover img {
  transform: rotateY(90deg);
  transition: transform 0s ease-in-out;
}

#libros div:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 13vw;
  height: 20vw;
  margin: 0 2vw;
  background-color: rgba(5, 46, 81, 0.67);
}

/* Página de los personajes */
.personajes {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Para los personajes individuales */
/* .personaje, .librosInfo {
  flex: 0 0 22vw;
  margin: 0 2vw;
  text-align: center;
}

.info-libro {
  position: absolute;
  left: 0;
  top: 100%;
  transform: translateY(-100%);
  font-family: Arial, sans-serif;
  font-size: 0.8vw;
  line-height: 1.2;
  z-index: 1;
  width: 13vw;
  height: 20vw;
  margin: 0 2vw;
} */

#personajes div {
  position: relative;
}

#personajes img {
  width: 20vw;
  height: auto;
  margin: 0 4vw;
  flex: 0 0 20vw; /* Añadida propiedad flex: 0 0 20vw para ajustar el ancho */
}

#personajes div:hover img {
  transform: rotateY(90deg);
  transition: transform 0s ease-in-out;
}

#personajes div:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20vw;
  height: 20vw;
  margin: 0 2vw;
  background-color: rgba(5, 46, 81, 0.67);
}