/*--------- color del fondo  ---------*/
body {
    background: #052D51;
    background-image: url('img/Fondo/Fondo2000x6000.png');
    background-size: cover;
    }

/*--------- contenedor del boton  ---------*/
.contenedorBoton {
    background: #052D51;
    height: 10vw;
    text-align: center;
    border: none;
    position: fixed;
    top: 0;
    width: 100vw;
    left: 0;
    z-index: 10; 
}

/* .contenedorBoton {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px; /* Añade un margen de 20 píxeles para separar el contenido del borde de la ventana 
  } 
*/
/*--------- boton de inicio  ---------*/
.contenedorBoton .botonInicioHP {
    width: 5vw;
    height: 5vw;
    font-size: 2.5vw;
    line-height: 2.5vw;
    background-color: #052D51;
    position: relative;
    border-radius: 12.5vw;
    padding: 0.65vw;
    border: none;
    cursor: pointer;
}

/*--------- Color del sensor del boton  ---------*/
.contenedorBoton .botonInicioHP:hover {
    background: rgb(255, 255, 255);
}

/*--------- Imagen del boton de inicio  ---------*/
.contenedorBoton .botonInicioHP img {
    width: 4vw;
    max-width: 4vw;
    margin-bottom: 1.5vw;
    position: relative;
    top: 0.3vw;
}

/*--------- Botones de cabecera  ---------*/
.contenedorBoton .botonInicioLibros,
.contenedorBoton .botonInicioCasas,
.contenedorBoton .botonInicioPersonajes,
.contenedorBoton .botonInicioHechizos,
.contenedorBoton .botonInicioPociones {
    font-family: 'Harry Potter', sans-serif;
    border: none;
    font-size: 1.5vw;
    height: 3vw;
    width: 13vw;
    /* padding: 0vw; */
    line-height: 4vw;
    color: rgb(175, 167, 88);
    background-color: #052D51;
    border-radius: 1vw;
    /* position: relative; */
    top: -2vw;
    cursor: pointer;
    /*primero: superior, segundo: derecha, tercero: inferior, cuarto: izquierdo*/
    margin: 0vw 6vw 0vw 6vw;
}


/*--------- fondo de los botones  ---------*/
.contenedorBoton .botonInicioLibros:hover,
.contenedorBoton .botonInicioCasas:hover,
.contenedorBoton .botonInicioPersonajes:hover,
.contenedorBoton .botonInicioHechizos:hover,
.contenedorBoton .botonInicioPociones:hover {
    background: rgb(255, 255, 255);
}



/*--------- flexbox del cotenedor de los botones  ---------*/
.contenedorBoton .flexbox {
    display: flex;
    justify-content: center;
    /* margin-top: 20px; */
}

/*--------- Fondo de la pag de bienvenida ---------*/
.fondoInicial {
    /* margin: 105px; */

    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

/*--------- Texto de la pag de bienvenida ---------*/
.fondoInicial h1 {
    background-color: rgba(5, 46, 81, 0.67);
    color: white;
    margin-top: 15vw;
    margin-right: 5vw;
    height: 33vw;
    font-size: 2vw;
    text-align: justify;

}
/* --------- Ancho del texto de la pag de bienvenida ---------
.bienvenida {
    width: 500vw;
} */
/*--------- Margen y ancho del la pag bienvenida (Logo) ---------*/
.fondoInicial img {
    margin-top: 8vw;
    width: 50vw;
}

/* .fondoSecundario img {
    background-repeat: repeat-x;
} */

/*--------- Contenedor de los libro ---------*/
.paginaLibros {
    width: -30vw;
    max-width : 10vw;
    /* padding: 40vw 20vw; */
    display: flex;
    /*primero: superior, segundo: derecha, tercero: inferior, cuarto: izquierdo*/
    margin: -50vw 50vw 0vw 0vw;
    flex-direction: column;
    /*align es para centar el contenido que trbaja con el flex*/
    align-items: center;
}

/*--------- Detalles de los libros ---------*/
.librosportada {
    width: 5vw;
    max-width: 50vw;
    /*para la animacion quede detras y no quede debajo*/
    position: relative;
    color: white;
    /*Para realizar la transicion imagen a la info*/
    transition: .3s ease all;
    /*Para que no se rote la imagen*/
    transform: rotateY(0deg);
    /*Para que se vea el reverso de la imagen*/
    transform-style: preserve-3d;
    /*Para que la parte de atras este invisible mientras se ve la imagen*/
    backface-visibility: hidden;
    cursor: pointer;
} 

/*--------- Para rotar la tarjeta ---------*/
.librosportada .active{ 
    transform: rotateY(180deg); 
}

/*--------- Detalles del div de libros ---------*/
.librosportada > div{
    padding: 30vw;
    border-radius: 15vw;
    min-height: -315vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.librosportada .portada {
    width: 100vw;
    background: url(/img/Libros/piedraFilosofal.jpg);
    background-size: cover;
}

/*--------- Detalles de la portada de los libros ---------*/
.librosinformacion .portada{
    width: 100vw;
}

/*--------- Caja flexbox de las portada ---------*/
.portada .flexbox{
    display: flex;
    justify-content: space-between;
    margin-top: 20vw;
}

/*--------- Detalles de la parte de atras de la información ---------*/
.librosinformacion {
    background-size: cover;
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}


/* .primerLibro,
.segundoLibro,
.tercerLibro,
.cuartoLibro,
.quientoLibro, 
.sectoLibro,
.septimoLibro { */